elpa/
eln-cache/
custom.el
projects.eld
recentf.eld
history
backup/
autosave/
user-lisp/*.elc
user-lisp/.user-lisp-autoloads.el*
places.eld
tramp
config/*.elc
.emacs.desktop
.emacs.desktop.lock
agent/
auto-save-list/
recentf
saveplace
transient/
tree-sitter/
var/
.DS_Store
