*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
.\#*

/transient/
/tramp
/projects
/history
/eshell/
/elpa/
/auto-save-list/
/server/
/.cache/
/tree-sitter/
/undo-fu-session/
/eln-cache/
/elpaca/
/custom.el
/saveplace
/recentf
